
<p>Introducere produs nou</p>
<form action = "/adauga_produs" method = "post">
    <label>Nume:</label>
    <input type = "text" name = "name"><br>
    <label>Preț:</label>
    <input type = "number" name = "price"><br>
    <input id = "submitbt" type = "submit" value = "Adaugă">
</form>

