<!DOCTYPE html>
<html>
    <head>
        <title>Electrocasnice</title>
        <link rel="stylesheet" href="stil.css">
    </head>
    <body>
    <nav>
        <a href="/">Acasă</a>
        <a href="/autentificare">Autentificare</a>
        <a href="/chestionar">Chestionar</a>
        <% if(utilizator) {%>
            <a href="/vizualizare-cos">Vizualizare coș</a>
            <% if(tip=='ADMIN') {%>
                <a href="/admin">Adaugă produse</a>
            <%}%>
        <% } %>
    </nav><br>
    <%- body %>
    <% if (utilizator) { %>
        <p>Autenficat ca <%= utilizator %></p>
        <form action="/delogare" method="GET">
            <button type="submit">Delogare</button>
        </form>
    <% } %>
    </body>
</html>

