body {
    background-image: url("electrocasnice.jpg");
}
form {
    background-color: rgb(139, 192, 212);
    font-size: 18px;
    padding: 15px;
}
p {
    background-color: rgb(238, 221, 221);
    font-size: 25px;
}
table{
    background-color:rgb(238, 221, 221); 
    width:100%;
}
th,td{
    border-bottom: 2px solid;
    font-size: 20px;
}

nav{
    font-size: 20px;
    font-weight: bold;
    color:blue;
    word-spacing: 10px;
}
